<h2>Porcentaje de Alerta de Insumos</h2>

<form method="POST">
<table width="100%" border="0" cellpadding="15" cellspacing="0" bgcolor="#fff8c2">
<tr><td valign="top">

<%= @form.to_html :percent, :size => 20 %>

<input type="submit" value="Grabar">
o <%= link_to "Cancelar", :controller => "admin", :action => "index" %><br>
<br>

</td></tr>
</table>

</td></tr>
</table>
</form>


