<h2><%= @account.name %></h2>

<h3>Contacto de Tesorer&iacute;a</h3>

<form method="POST">
<table width="100%" border="0" cellpadding="15" cellspacing="0" bgcolor="#fff8c2">
<tr><td valign="top">

<%= render :partial => "billing_contact_form" %>

</td></tr>
</table>
</form>

