<h2>Administraci&oacute;n de Roles</h2>

<table width="100%" border="0" cellpadding="15" cellspacing="0" bgcolor="#fff8c2">
<tr><td valign="top">

<h3><%= link_to "Roles y Permisos", :controller => "roles", :action => "list" %></h3>

<h3><%= link_to "Usuarios", :controller => "roles", :action => "user_list" %></h3>

</td></tr>
</table>
